#second, #third,  #result {
	
	display: none;
}
/*
.popupText {
	border: solid black 1px;
	padding: 5px;
}*/

 #prgressText a {
	color: white;
} 

#formBox {
	display: none;
}

#loadingBar {
	display: none;
}
#offerFound {
	display: none;
}